<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div sec:authorize="hasRole('USER')">Has USER ROLE - 유저 권한</div>
    <div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE - 관리자 권한</div>
    <div sec:authorize="isAuthenticated()"> 로그인 성공한 유저에게만 보여지는 텍스트</div>
    사용자 이름 <div sec:authentication="name"></div>
</body>
<script th:inline="javascript">
    const auth = [[${#authentication.principal}]];
    console.log(auth);
</script>
</html>